# Default ignored files
/shelf/
/workspace.xml
/venv/
/.venv/
**/config_database.ini
**/__pycache__
/.idea/
/.vscode/

#all test file
**/test.js
**/test.html

#for js
**/daly_tasks
**/package-lock.json