body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("back-round.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 92%;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#emojiDisplay {
    font-size: 150px;
    margin-bottom: 20px;
}

#emojiContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

.emoji-btn {
    height: 100px;
    width: 100px;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.correct-answer {
    background-color: #28a745; 
    color: white;
}

#descriptionDisplay {
    padding-bottom: 10px;
}

#result{
    padding-bottom: 10px;
}
