body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 15px;
  background-color: #11451d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#listItems {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

#listItems li {
  background-color: #f8f9fa;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  position: relative;
}

#listItems li.completed {
  text-decoration: line-through;
  color: #6c757d;
}

#listItems input[type="checkbox"] {
  margin-right: 50px;
}

.task-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

button.delete-btn {
  background-color: #611920;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#clearItemsButton {
  width: 100%;
  padding: 10px;
  background-color: #611921;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

